extends ../_template-admin

block variables
  - var title = 'Page not found'

block content
  .wrapper
    header.admin-header
      .container.admin-header__container
        .admin-header__title Возникла ошибка
        a(href="/").admin-header__link Вернуться на сайт
    section.admin-content
      .container.admin-content__container #{message}
        